<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/index.css') }}">
    <title>Mr.Rich</title>
</head>
<body>
    <script src="{{url_for('static', filename='script/index.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <div class='home_upper'>
        <img src="{{'static/img/logo.png'}}" alt='rich_logo'/>
        <h1>Mr.Rich</h1>
    </div>
    <h2>start making easy informed investing decisions today</h2>
    <input 
        type='text'
        name='searchBar'
        id='searchBar'
        placeholder='choose a stock'
    />
    <div class='searchList' id='searchList'></div>
    <!-- Sony, Facebook, Google, Apple, and Cisco -->
    <canvas id='myChart'></canvas>
</body>
</html>